name: Compile LaTeX Document

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install extra TeX packages
        run: sudo apt-get install -y texlive-full # Example for scheme-full

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          compiler: xelatex
          args: |
            xelatex
            biber

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: Character-Reference.pdf
          path: main.pdf
